---
---
<div class="bg-pink-500 py-8  mx-auto">
<section class="grid grid-cols-3 justify-items-center pb-8">
    <p>Footer1</p>
    <p>Footer2</p>
    <p>Footer3</p>
</section>
<div class="flex justify-center">
    <p>Footer4</p>
</div>
</div>
  